.footer-logo-img {
    filter: saturate(0);
    transition: filter .2s ease-in;
}

.footer-logo-img:hover {
    filter: saturate(1);
    transition: filter .2s ease-out;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-facebook-f {
    color: #3b5998;
}

.fa-google-plus-g {
    color: #ea4335;
}

footer {
    border-top: 1px solid $border-color-custom;
}

@media (min-width: 576px) {
    .social {
        border-left: 1px solid $border-color-custom;
    }
}