$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts/";

$success: #77c344;
$warning: #ffce54;
$blue: #54a3da;
$light: #f8f8f8;
$green: #77c344;

$border-color-custom: #d3d3d3;

$font-color-light: #9499a2;
$font-color-medium: #5a626e;
$font-color-dark: #2d394c;

$secondary: $font-color-light;
$text-muted: $font-color-medium;
$body-color: $font-color-dark;